name: Cypress Tests
on: [push]
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false 
      matrix:
        containers: [1, 2] 
    steps:
      - name: Checkout
        uses: actions/checkout@v3

       - name: install packages
        run: |
          npm install

      - name: Start server
        run: |
          npm run start &
          sh -c 'until curl -sSf http://localhost:3000 > /dev/null; do sleep 1; done'

      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          # Runs test in parallel using settings above
          parallel: true 
          # Records to Cypress Cloud
          record: true
          start: npm run e2e
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          # Creating a token https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token
          GITHUB_TOKEN: ${{ secrets.BBQE_TOKEN }}
